@{
    ViewBag.Title = "Create Catalog ReadModel";
}

<h1 class="text-danger">Propagate Catalog ReadModel</h1>

<form asp-antiforgery="true">

    <h2>Click to propagate a catalog ReadModel in the Shopping Basket microservice</h2>

    <input type="submit" value="Propagate" />
</form>