@{
    ViewBag.Title = "ReadModel";
}

<h1 class="text-danger">ReadModel is Propagating</h1>

<form asp-antiforgery="true">

    <h2>The Catalog ReadModel is propagating. This will take several minutes.</h2>

</form>